---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Tailwind plugin to add easily animations to your website'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='theme-color' content='#0099ff' />
    <meta name='og:title' content={title} />
    <meta
      name='og:description'
      content='Tailwind plugin to add easily animations to your website'
    />
    <meta name='og:image' content='/og.jpg' />
    <meta name='twitter:card' content='summary_large_image' />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white">
    <div
      class='absolute inset-0 -z-10 h-full w-full bg-white dark:bg-zinc-900 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]'
    >
      <!-- NOTE: This overflows when width is less than 310px -->
      <div
        class='absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-sky-400 dark:bg-sky-500/70 opacity-20 blur-[100px]'
      >
      </div>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
      color-scheme: light;
    }

    body {
      color:rgba(0, 0, 0, 0.9)
    }

    @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }
</style>
