---
import Layout from "../layouts/Layout.astro"

import theme from "../../../src/theme.js"

const { animation } = theme
---

<Layout title="midudev Tailwind CSS Animations Plugin: Community-Powered Animation Magic">
  <main class="pb-20">
    <header
      class="max-w-4xl mx-auto flex items-center justify-center py-10 flex-col"
    >
      <h1 class="font-semibold text-4xl pt-10">tailwind css animations</h1>
      <h2 class="font-medium opacity-70">the plugin that you need! =)</h2>
      <div class="mt-10">
        <code>npm install @midudev/tailwindcss-animations</code>
      </div>
    </header>

    <section class="max-w-4xl m-auto grid grid-cols-3 gap-4">
      {
        Object.keys(animation).map((animationKey) => {
          return (
            <article
              class="animate-duration-1000 col-span-1 border rounded border-gray-200 hover:border-gray-600 hover:shadow transition cursor-crosshair"
              data-class={animationKey}
            >
              <div class="p-4 flex gap-4 items-center justify-center flex-col w-full h-full">
                <span class="w-16 h-16 bg-gray-200 rounded-md flex items-center justify-center" />
                <h3 class="font-semibold text-xs opacity-80">{animationKey}</h3>
              </div>
            </article>
          )
        })
      }
    </section>
  </main>
</Layout>

<script>
  import theme from "../../../src/theme.js"

  const $articles = document.querySelectorAll("article")

  $articles.forEach(($article) => {
    const animationKey = $article.getAttribute("data-class")
    const animationClass = `animate-${animationKey}`
    const $box = $article.querySelector("span")

    if ($box == null) return

    $article.addEventListener("mouseenter", () => {
      $box.classList.add(animationClass)
    })

    $article.addEventListener("mouseleave", () => {
      $box.classList.remove(animationClass)
    })

    $article.addEventListener("click", () => {
      const { animation } = theme
      const animationKey = $article.getAttribute("data-class");

      if (animationKey && animation[animationKey as keyof typeof animation]) {
        const animationValue = animation[animationKey as keyof typeof animation];

        navigator.clipboard.writeText(animationValue)
      }
    })
  })
</script>
