---
import Layout from '@layouts/Layout.astro'

import pkg from '../../../package.json'
import { theme } from '../data/theme.js'

import CopyIcon from '@components/icons/copy.astro'
import { Code } from 'astro:components'
import Github from '@components/icons/github.astro'

import Header from '@components/layout/Header.astro'
import Main from '@components/layout/Main.astro'
import Footer from '@components/layout/Footer.astro'
---

<Layout
  title='Tailwind CSS Animations Plugin: Community-Powered Animation Magic'
>
  <wc-toast></wc-toast>

  <div class='w-screen h-fit flex flex-col'>
    <Header></Header>

    <Main></Main>

    <Footer></Footer>
  </div>
</Layout>
