---
import Codex from '@components/codex/Codex.astro'
import Layout from '@layouts/Layout.astro'
import Github from '@components/icons/Github.astro'
import Card from '@components/Card.astro'
import { Image } from 'astro:assets'
import banner from '@assets/images/banner.png'

import pkg from '../../../package.json'
import theme from '../../../src/theme.js'
const { animation } = theme
const { version } = pkg
---

<Layout
  title='Tailwind CSS Animations Plugin: Community-Powered Animation Magic'
>
  <wc-toast></wc-toast>
  <main class='pb-32'>
    <header class='mx-auto flex flex-col items-center justify-center py-10'>
      <div class='flex flex-col items-end justify-center gap-x-2'>
        <Image
          src={banner}
          alt='Banner Of Tailwind CSS Animations Plugin'
          format='webp'
          class='mb-4 mix-blend-screen scale-110'
          draggable='false'
          height={350}
        />
        <h1 class='sr-only'>tailwind css animations</h1>
        <div class='-mt-10 sm:-mt-20 flex gap-x-2'>
          <h2 class='select-none font-medium opacity-70'>
            the plugin that you need! =)
          </h2>
          <span
            class='inline-flex select-none items-center justify-center rounded-lg bg-[#23262E] px-2 py-1 text-xs font-medium'
            >v.{version}</span
          >
          <a
            href='https://github.com/midudev/tailwind-animations'
            target='_blank'
            aria-label='Github repository'
            title='Github repository'
            rel='noopener noreferrer'
            class='inline-flex select-none items-center justify-center rounded-lg bg-[#23262E] px-2 py-1 text-xs font-medium'
          >
            <Github class='size-4' />
          </a>
        </div>
      </div>
      <div class='mt-10 max-w-full'>
        <Codex
          label='1. Install the dependency'
          style='bg-andromeeda-500'
          theme='andromeeda'
          code='npm install @midudev/tailwind-animations'
          CopyToClipboard
        />
        <Codex
          label='2. Add to your configuration'
          style='bg-andromeeda-500'
          theme='andromeeda'
          lang='js'
          code={`import animations from '@midudev/tailwind-animations'

export default {
  // ...rest of the options
  plugins: [animations],
}`}
          CopyToClipboard
        />
      </div>
    </header>

    <section
      id='cards-container'
      class='group/card m-auto grid grid-cols-responsive-175 gap-4'
    >
      {
        Object.keys(animation).map((animationKey) => (
          <Card animationKey={animationKey} />
        ))
      }
    </section>
  </main>
</Layout>

<style is:global>
  html::-webkit-scrollbar {
    @apply w-2 bg-andromeeda-700;
  }
  html::-webkit-scrollbar-thumb {
    @apply rounded-full bg-cyan-500;
  }
</style>
